html
    head
      title PowerMeter
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js")
      style
        include powermeter.css
      script
        include:babel powermeter.js
    body
      .container#devices
      script(type="text/x-handlebars-template")#t-device
        .row.mt-3(id='{{Name}}')
          .col-12.col-lg-6.offset-lg-3.px-0
            .card
              .card-header.py-1
                .row.align-items-baseline
                  strong.col {{Name}}
                  | {{#if Connected}}
                  button.btn.btn-light.p-1.fa.fa-cog(onclick="onSettingsClicked('{{Name}}', {{Number}})")
                  | {{/if}}
              .card-body
                | {{#if Connected}}
                .row.align-items-baseline.x-values
                  strong.col-6.col-md-3.text-right.pr-1 {{Volts}}
                  small.col-6.col-md-3.text-left.pl-1 Volts

                  strong.col-6.col-md-3.text-right.pr-1 {{Pmean}}
                  small.col-6.col-md-3.text-left.pl-1 Watts

                  strong.col-6.col-md-3.text-right.pr-1 {{Curr}}
                  small.col-6.col-md-3.text-left.pl-1 Amps

                  strong.col-6.col-md-3.text-right.pr-1 {{Qmean}}
                  small.col-6.col-md-3.text-left.pl-1 Var

                  strong.col-6.col-md-3.text-right.pr-1 {{Freq}}
                  small.col-6.col-md-3.text-left.pl-1 HZ

                  strong.col-6.col-md-3.text-right.pr-1 {{Smean}}
                  small.col-6.col-md-3.text-left.pl-1 VA
                | {{else}}
                .row.justify-content-center
                  strong.text-muted Offline
                | {{/if}}

      mixin formTitle(title)
        .row.d-flex
          strong.col= title

      mixin formInput(value, label, legend)
        label.form-group.row.align-items-baseline
          .col-3.col-form-label.col-form-label-sm.text-right= label
          if block
            block
          else
            input.col-6.form-control.form-control-sm(type="text" value=value)
          small.text-muted.col-3.x-legend= legend

      script(type="text/x-handlebars-template")#t-settings
        .modal.fade(role="dialog" aria-labelledby="settingsTitle" aria-hidden="true")
          .modal-dialog.modal-xl.document
            .modal-content
              .modal-header
                h5.modal-title {{Name}} #[span.text-muted Settings]
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden="true") &times;
              .modal-body.p-0
                ul.list-group.list-group-flush
                  li.list-group-item
                    +formTitle('Info')
                    .row.justify-content-center.x-info #[.fa.fa-sync.fa-spin]
                  li.list-group-item
                    +formTitle('Configuration')
                    .row.justify-content-center.x-config #[.fa.fa-sync.fa-spin]
                  li.list-group-item
                    +formTitle('Calibration')
                    .row.justify-content-center.x-calib #[.fa.fa-sync.fa-spin]
                  .modal-footer


      script(type="text/x-handlebars-template")#t-info-settings
        form
          +formInput('{{UniqueId}}', 'ID', '')
          +formInput('{{Sensor}}', 'Sensor', '')
          +formInput('{{Resistor}}', 'Input Resistor.', '')
          .row.justify-content-end.px-2
            button.btn.btn-primary.x-btn.disabled(type="submit") Send


      script(type="text/x-handlebars-template")#t-config-settings
        form
          +formInput('{{Contrast}}', 'Contrast', '{{Contrast}}')
            input.col-6.custom-range(type="range" min="0" max="10" value="{{Contrast}}")
          +formInput('{{PowerSave}}', 'Power Save')
            input.col-6.custom-range(type="range" min="0" max="10" value="{{PowerSave}}")
          +formInput('{{BoardName}}', 'Board Name')
            input.col-6.form-control.form-control-sm(type="text" maxlength="20" value="{{BoardName}}")
          .row.justify-content-end.px-2
            button.btn.btn-primary.x-btn.disabled(type="submit") Send

      script(type="text/x-handlebars-template")#t-calib-settings
        form
          +formInput('{{VL}}', 'VL', 'Volts')
          +formInput('{{VU}}', 'VU', 'Volts')
          +formInput('{{Ugain}}', 'UGain', 'Volts')
          +formInput('{{Igain}}', 'IGain', 'Amps')
          +formInput('{{MC}}', 'MC', 'Imp/kWh')
          +formInput('{{UN}}', 'UN', 'Volts')
          +formInput('{{IB}}', 'IB', 'Amps')
          +formInput('{{Cal_Lgain}}', 'LGain')
            select.col-6
              | {{#select Cal_Lgain}}
              for v in [ 1, 4, 8, 16, 24 ]
                option(value=v)= v
              | {{/select}}
          +formInput('{{Cal_Ngain}}', 'NGain')
            select.col-6
              | {{#select Cal_Ngain}}
              for v in [ 1, 2, 4 ]
                option(value=v)= v
              | {{/select}}
          .row.justify-content-end.px-2
            button.btn.btn-primary.x-btn.disabled(type="submit") Send

script(type="text/x-handlebars-template")#t-error
  .row.justify-content-center.d-flex
    .text-danger #[span.align-middle.fa.fa-times] #[span {{message}}]
